
<div class="card shadow">
    <div class="card-body">
        <div class="row">
            <i class="fas fa-5x fa-exclamation" style="margin-left:0.5em; margin-right:0.5em"></i>
            <div class="col">
                <div class="row">
                    You currently don't have any projects. Press the button to create a new project, or join an existing project.
                </div>
                <div class="row" style="margin-top:10px">
                    <NewProjectModal/>
                </div>
            </div>
        </div>
    </div>
</div>
