@using Tracker_Web.Model.User;
@using Tracker_Web.Model.Project;
@using Services.EndpointConsumers 
@inject HttpClient http
@inject IJSRuntime JSRuntime
@inject NavigationManager navManager;

<div class="d-flex justify-content-between">
    <h4>Projects</h4>
    <NewProjectModal />
</div>
<div class="row">
    @foreach (Project proj in projects)
    {
    <div class="col-xl-3 col-md-6 col-mb-4">
        <ProjectCard project="@proj"/>
    </div>
    }
</div>

@code {

    protected override async Task OnParametersSetAsync()
    {
        projectsApi = new ProjectsConsumer(http, JSRuntime);
        projects = await projectsApi.GetList(userId);
    }

    [Parameter]
    public Guid userId { get; set; }

    private ProjectsConsumer projectsApi;

    private List<Project> projects = new List<Project>();
}
