@page "/dashboard"
@using Tracker_Web.Components
@using Model.User
@using Services.EndpointConsumers
@inject HttpClient http
@inject IJSRuntime JSRuntime
@inject NavigationManager navManager

<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

<ProjectList userId="@currentUser.Id" />

@code {

    protected override async Task OnInitializedAsync()
    {
        usersApi = new UsersConsumer(http, JSRuntime, navManager);
        currentUser = await usersApi.GetCurrent();

        return;
    }

    private UsersConsumer usersApi;
    public User currentUser = new User();
}
