@page "/projects"
@page "/projects/{projId}"
@using Tracker_Web.Components
@using Model.User
@using Services.EndpointConsumers
@inject HttpClient http
@inject IJSRuntime JSRuntime
@inject NavigationManager navManager

<h1 class="h3 mb-0 text-gray-800">Projects</h1>

project ID: @projId

@code {

    protected override async Task OnInitializedAsync()
    {
        usersApi = new UsersConsumer(http, JSRuntime, navManager);
        currentUser = await usersApi.GetCurrent();

        if (projId == null || projId == "")
        {
            projId = "no ID specified";
        }

        return;
    }

    [Parameter]
    public string projId { get; set; }

    private UsersConsumer usersApi;
    public User currentUser = new User();
}