@inherits LayoutComponentBase
@inject NavigationManager navManager

<div id="wrapper">

    @if (!sidebarHidden)
    {
    <div>
        <NavMenu />
    </div>
    }

    <div class="main w-100">
        <div class="d-flex flex-column h-100" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3" @onclick="ToggleSidebar">
                        <i class="fa fa-bars"></i>
                    </button>
                </nav>
                <div class="container-fluid">
                    @Body
                </div>
            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © Lukas Kuppers 2020</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

@code 
{
    private bool sidebarHidden = false;

    private void ToggleSidebar()
    {
        sidebarHidden = !sidebarHidden;
    }
}