@inherits LayoutComponentBase
@using Model
@inject NavigationManager navManager
@inject HttpClient http

<div id="wrapper">
    @if (!isNoAuthPage)
    {
    <div>
        <NavMenu collapseNavMenu="@sidebarHidden"/>
    </div>
    }

    <div class="main w-100">
        <div class="d-flex flex-column h-100 @noAuthBackground" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    @if (!isNoAuthPage)
                    {
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3" @onclick="ToggleSidebar">
                        <i class="fa fa-bars"></i>
                    </button>
                    } else
                    {
                    <div class="navbar-brand text-primary">Tracker</div>
                    }
                </nav>
                <div class="container-fluid">
                    @Body
                </div>
            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © Lukas Kuppers 2020</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

@code 
{      
    protected override async Task OnInitializedAsync()
    {
        Services.NoAuthPages pages = new Services.NoAuthPages(navManager);
        isNoAuthPage = pages.IsNoAuthPage(navManager.Uri);

        if (!isNoAuthPage)
        {
            // check if user is authorized
            apiConsumer = new Consumer(http);

            var apiResponse = await apiConsumer.makeEmptyRequest<AuthStatusOut>(MethodType.GET, "/api/authorization");
            var responseCode = apiResponse.Item2;
            switch (responseCode)
            {
                case System.Net.HttpStatusCode.OK:
                    break;
                case System.Net.HttpStatusCode.Unauthorized:
                    // route to login screen
                    navManager.NavigateTo("login");
                    break;
                default:
                    navManager.NavigateTo("login");
                    return;
            }
        }

        await base.OnInitializedAsync();
    }

    private Consumer apiConsumer;

    private bool sidebarHidden = false;
    private bool isNoAuthPage;

    private string noAuthBackground => isNoAuthPage ? "bg-gradient-primary" : "";

    private void ToggleSidebar()
    {
        sidebarHidden = !sidebarHidden;
    }
}