
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion @NavMenuCssClass" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
        <div class="sidebar-brand-icon">
            <i class="fas fa-dice-d20"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Tracker-Webapp</div>
    </a>
    <!--divider-->
    <hr class="sidebar-divider my-0"/>
    <!--navigation items-->
    <li class="nav-item active">
        <a class="nav-link" href="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <!--toggle button-->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle" @onclick="ToggleNavMenu"></button>
    </div>
</ul>

@code {

    [Parameter]
    public bool collapseNavMenu { get; set; }

    private string NavMenuCssClass => collapseNavMenu ? "toggled" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
